{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blogs</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
    <div class="container">
      <header class="blog-header py-3 border-bottom">
        <div class="container">
          <div class="row align-items-center text-center text-md-start">

            <!-- Logo -->
            <div class="col-12 col-md-3 mb-2 mb-md-0">
              <a class="blog-header-logo text-dark text-decoration-none fs-4" href="/">
                Django Blog
              </a>
            </div>

            <!-- Search -->
            <div class="col-12 col-md-6 mb-2 mb-md-0">
              <form action="{% url 'search' %}" method="GET">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    name="keyword"
                    value="{{ keyword }}"
                    placeholder="Enter search term..."
                  />
                  <button class="btn btn-warning" type="submit">Go</button>
                </div>
              </form>
            </div>

            <!-- Auth buttons -->
            <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-end gap-2">
              {% if not user.is_authenticated %}
                <a class="btn btn-sm btn-warning" href="{% url 'login' %}">Login</a>
                <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'register' %}">Register</a>
              {% else %}
                <a class="btn btn-sm btn-warning" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'logout' %}">Logout</a>
              {% endif %}
            </div>

          </div>
        </div>
      </header>


      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for cat in categories %}
          <a class="p-2 text-muted" href="{% url "posts_by_category" cat.id %}">{{ cat }}</a>
          {% endfor %}   
        </nav>
      </div>

<! -- main contet -->
{% block content %}

{% endblock  %}

        <footer class="blog-footer">
    <p>Django blog built with &#128153; by <a href="#">Gaurav Totla</a></p>
    </footer>
</body>
</html>